<form [formGroup]="userForm" class="p-d-flex p-flex-column m-container p-jc-center">
  <div class="p-grid">
    <div class="p-col-3 p-m-auto">
      <div class="p-fluid">
        <h2 class="p-text-center p-mb-5">Iniciar sesión</h2>
        <div class="p-field">
          <label for="">Usuario</label>
          <input pInputText [formControlName]="keysForm.EMAIL" type="text" placeholder="Usuario">
        </div>
        <div class="p-field">
          <label for="">Contraseña</label>
          <input pInputText [formControlName]="keysForm.PASSWORD" type="password" placeholder="Contraseña">
        </div>

        <div class="p-field-checkbox p-mb-5">
          <p-checkbox name="recordarme" [formControlName]="keysForm.RECORDARME" inputId="recordarme"></p-checkbox>
          <label for="recordarme">Recordarme</label>
        </div>

        <div class="p-field">
          <button pButton class="p-button-success" (click)="iniciarSesion()" label="Iniciar sesión"></button>
        </div>
        <div class="p-field">
          <button pButton class="p-button-text" routerLink="/registro" label="Crear cuenta"></button>
        </div>
      </div>
    </div>
  </div>
</form>
